h1{
    color: khaki;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url(../images/pattern.jpeg);
}

.brushes{
    color: white;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    background-color: mediumspringgreen;
}

h3{
    font-family: Helvetica;
    font-weight: bold;
}

p{
    font-family: Helvetica; 
}

.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames{
    color: white;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    background-color: lightcoral;
}

.paint{
    color: white;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    background-color: skyblue;
}